@model webapicrud.Models.EmpClass

@{
    ViewBag.Title = "GetEmpId";
}

<h2>GetEmpId</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

    
        <tr>
            <td>
                @Html.DisplayFor(model => model.no)
            </td>
            <td>
                @Html.DisplayFor(model => model.firstname)
            </td>
            <td>
                @Html.DisplayFor(model => model.lastname)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
            <td>
                @Html.DisplayFor(model => model.contactno)
            </td>
            <td>
                @Html.DisplayFor(model => model.state)
            </td>
            
        </tr>
    

</table>
<p>
    @Html.ActionLink("Edit", "Update", new {  id = Model.no  }) |
    @Html.ActionLink("Back to List", "Getdata")
</p>
